.graph__game {
    @apply
    w-full
    max-h-[270px]
    h-full
    relative
    overflow-hidden
}

.count {
    @apply
    absolute
    max-w-[275px]
    w-full
    max-h-[50px]
    h-full
    py-3
    px-4
    z-10
    bg-373070
}

.multiplier {
    @apply
    text-[32px]
    text-2431440
}

.multiplier__label {
    @apply
    text-[16px]
    font-medium
    -mt-1.5
    text-white
    opacity-75
}

.crash__charecter {
    @apply
    absolute
    right-0
    -top-7
}

.timer {
    @apply
    w-full
    h-full
    flex
    justify-center
    items-center
    absolute
    left-0
    right-0
    top-0
    bottom-0
    m-auto
    bg-373070
    z-10
}

.timer__label {
    @apply
    text-main
    text-[40px]
}

.graphic__svg {
    width: 100%;
    height: 100%;
}

.graph {
    transition: d 2s linear;
}

.line__pending {
    d: path("M 0 266.39 Q 0 266.39 0 280")
}

.line__running {
    d: path("M 0 266.39 Q 372 266.39 620 40")
}

.line__crashed {
    d: path("M 0 266.39 Q 800 266.39 1200 -300")
}

.shadow__pending {
    d: path("M 0 266.39 Q 0 266.39 0 280 L 0 266.39 Z")
}

.shadow__running {
    d: path("M 0 266.39 Q 372 266.39 620 40 L 620 266.39 Z")
}

.shadow__crashed {
    d: path("M 0 266.39 Q 800 266.39 1200 -300 L 1200 266.39 Z")
}

.path__two {
    animation: secondaryCrash 3s linear forwards;
}

