.bottom__space {
    @apply
    h-16
    hidden
}

.root {
    backdrop-filter: blur(10px);
    background: rgba(53, 53, 53, 0.44);
    @apply
    hidden
    z-1000
    w-full
    fixed
    bottom-0
    h-16
    rounded-t-2xl
    px-12
    py-2
}

.content {
    @apply
    mx-auto
    h-fit
    flex
    justify-center
    gap-12
    w-full
}

.option {
    @apply
    flex
    flex-col
    items-center
    justify-center
    gap-1
    relative
}

.option:hover > .shadow{
    @apply
    opacity-100
}

.optionLabel {
    @apply
    text-main
    flex
    items-center
    gap-2
}

.shadow {
    background: #7f76a5;
    @apply
    absolute
    left-0
    right-0
    bottom-0
    top-0
    w-[30px]
    h-[30px]
    m-auto
    -z-10
    blur
    opacity-0
    transition-opacity
}

@media screen and (max-width: 768px ) {
    .root, .bottom__space {
        @apply
        flex
        w-full
        gap-6
    }
}

@media screen and (max-width: 515px ) {
    .content {
        @apply
        gap-6
    }
}

@media screen and (max-width: 420px){
    .optionLabel {
        @apply
        text-[12px]
    }
}

@media screen and (max-width: 360px){
    .content {
        @apply
        gap-4
    }
}