.open__wrapper {
    @apply w-full h-[330px] relative mt-4
}

.background__img {
    @apply absolute top-0 left-0 bottom-0 right-0 -z-10
}

.roulette__closed {
    @apply relative h-full w-full
}

.roulette__closed__center {
    @apply relative h-full w-full
}

.purp__shadow {
    @apply absolute left-10 right-0 top-0 bottom-0 m-auto bg-8420126 max-w-[390px] max-h-[272px] blur-[60px] rounded-[50%]
}

.orange__shadow {
    @apply absolute left-10 right-0 top-0 bottom-0 m-auto bg-2501760 max-w-[94px] max-h-[92px] blur-[40px] rounded-[100%]
}

.center__gun {
    @apply absolute left-0 right-0 top-0 bottom-0 m-auto
}

.roulette__closed__bottom {
    @apply bottom-0 left-0 right-0 m-auto absolute max-w-[670px] w-full h-[56px]
}

.case__price {
    @apply text-center text-white mb-2 ml-14
}

.case__bottom__wrapper {
    @apply flex h-[56px] items-center justify-between
}

.roulette__opened {
    @apply
    w-full
    h-full
    flex-col
    flex items-center
}

.roulette__wrapper {
    @apply
    flex
    h-full
    w-full
    overflow-hidden
    items-center
}

.spin {
    transition-timing-function: cubic-bezier(.3,0,.34,1);
    transition-property: transform;
    transition-duration: 7s;
    @apply
    flex
}

.after__spin {
    @apply
    flex
    max-w-[450px]
    w-full
    h-[42px]
    justify-between
    items-center
    absolute
    -bottom-4
}

@media screen and (max-width: 1060px){
    .open__wrapper {
        @apply
        max-h-[240px]
    }
}