.container {
    @apply
    relative
    max-w-[762px]
    h-full
    max-h-[330px]
    mx-auto
    transition-all
    overflow-hidden
}

.circle {
    -webkit-box-shadow: inset 0px 0px 28px 33px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 28px 33px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 28px 33px rgba(0, 0, 0, 0.75);
    @apply
    absolute
    w-[730px]
    h-[762px]
    bg-8052167
    rounded-full
    border-[80px]
    -z-10
    left-0
    right-0
    m-auto
    top-4
    border-453091
    min-w-0
}

@media screen and (max-width: 545px){
    .circle {
        background: rgb(60, 38, 121);
        @apply
        shadow-none
        top-24
    }
}