.menu__center {
    @apply
    w-full
    max-w-[221px]
    h-full
    relative
}

.determiner {
    @apply
    absolute
    left-0
    right-0
    m-auto
    w-full
    max-w-[173px]
    h-[200px]
    overflow-y-hidden
    -top-[200px]
}

.arrow {
    @apply
    absolute
    left-0
    right-0
    m-auto
}

.arrow__mobile {
    @apply
    absolute
    left-0
    right-0
    m-auto
    hidden
}

.circle {
    background: linear-gradient(150.18deg, rgb(131, 105, 209) 24.317%,rgb(107, 68, 226) 81.772%);
    @apply
    absolute
    w-full
    rounded-full
    h-[173px]
    -bottom-24
    flex
    items-center
    flex-col
    pt-5
}

.numbers {
    @apply
    text-[22px]
    font-semibold
}

.numbers__label {
    @apply
    text-[13px]
    -mt-1
}

.bet__btn {
    /*background: linear-gradient(180.00deg, rgb(238, 130, 46) 75%,rgb(255, 184, 0) 96.429%);*/
    @apply
    w-full
    h-full
    border-[10px]
    rounded-xl
    border-2551840
    bg-gradient-to-r
    from-24416163
    to-2551840
    font-bold
    text-white
    tracking-wider
    text-[18px]
    flex
    justify-around
    items-center
}

.bet__btn:disabled {
    background: rgba(84, 73, 140, 0.49);
    @apply
    cursor-not-allowed
    border-0
    text-gray-400
    pr-2
}

@media screen and (max-width: 768px){
    .menu__center {
        @apply
        max-h-[57px]
        absolute
        left-0
        right-0
        m-auto
        top-2
    }
}

@media screen and (max-width: 545px){
    .circle {
        @apply
        bg-none
    }

    .arrow {
        @apply
        hidden
    }

    .arrow__mobile {
        @apply
        block
        bottom-0
        h-[140px]
        w-[70px]
    }

    .determiner {
        @apply
        opacity-75
        -mt-[150px]
    }

    .numbers__label {
        color: rgba(255, 255, 255, 0.5);
    }

    .menu__center {
        @apply
        -bottom-[130px]
        max-w-[95%]
    }

    .bet__btn {
        @apply
        rounded-3xl
    }
}