.footer {
    @apply
    h-[280px]
    w-full
    relative
}

.bg {
    @apply
    bg-brawl-purple-header
    w-full
    h-full
    absolute
    max-h-[247px]
    bottom-0
}

.content {
    @apply
    flex
    mx-auto
    max-w-[1240px]
    w-full
    h-full
}

.content__left {
    @apply
    w-full
    h-full
    mx-auto
    relative
}

.content__left__shadows {
    @apply
    absolute
    w-full
    h-full
    overflow-y-clip
}

.circle {
    position: absolute;
    max-width: 355px;
    width: 100%;
    height: 382px;
    background: rgb(126, 20, 176);
    bottom: -246px;
    filter: blur(200px);
}

.elipse {
    position: absolute;
    max-width: 390px;
    width: 100%;
    height: 320px;
    left: 279px;
    bottom: -173px;
    filter: blur(200px);
    background: rgb(83, 110, 250);
}

.characters {
    @apply
    absolute
    w-full
    h-[130%]
    bottom-0
    overflow-y-clip
}

.logo {
    @apply
    absolute
    bottom-6
    left-6
}

.bigStar {
    @apply
    absolute
    top-3
    left-[100px]
}

.shooter {
    transform: rotateY(180deg);
    @apply
    absolute
    right-0
    -bottom-12
}

.baba {
    transform: rotateY(180deg);
    @apply
    absolute
    left-48
    bottom-0
}

.diamond {
    @apply
    absolute
    right-4
    top-14
}

.content__right {
    @apply
    w-full
    flex
    flex-col
    justify-between
    z-10
    items-center
}

.content__right__top {
    @apply
    max-w-[530px]
    flex
    flex-col
    items-center
    h-full
    w-full
    absolute
    -top-16
}

.links {
    @apply
    absolute
    flex
    gap-12
    text-main
    font-bold
    left-[50%]
    bottom-2
    z-10
}

.footer__text {
    background: linear-gradient(90.00deg, rgba(27, 191, 103, 0.9), rgba(227, 167, 255, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 26px;
    font-weight: 900;
    line-height: 28px;
    width: fit-content;
    margin-bottom: 14px;
    margin-top: 10px;
}

.game__bar {
    @apply
    w-full
    h-full
    bg-6445118
    flex
    items-center
    justify-center
    max-h-[130px]
    rounded-3xl
}

@media screen and (max-width: 1215px) {
    .shooter {
        @apply
        hidden
    }
}

@media screen and (max-width: 1145px) {
    .diamond {
        @apply
        hidden
    }
}

@media screen and (max-width: 1060px) {
    .baba {
        @apply
        hidden
    }

    .content__left {
        @apply
        max-w-[300px]
    }
}

@media screen and (max-width: 880px) {
    .content__right {
        @apply
        hidden
    }

    .content__left {
        @apply
        max-w-full
        w-full
    }

    .characters {
        @apply
        w-full
    }

    .logo {
        @apply
        left-0
    }
}

@media screen and (max-width: 672px) {
    .circle {
        @apply
        max-w-[200px]
    }

    .elipse {
        @apply
        max-w-[200px]
    }

    .links {
        left: initial;
        @apply
        right-6
        gap-2
        flex-col
        items-center
    }
}

@media screen and (max-width: 500px) {
    .circle {
        @apply
        max-w-[100px]
        -bottom-0
    }

    .elipse {
        @apply
        max-w-[100px]
        -bottom-0
    }
}

@media screen and (max-width: 500px) {
    .circle {
        @apply
        max-w-[50px]
        -bottom-0
    }

    .elipse {
        @apply
        max-w-[50px]
        -bottom-0
    }
}